@model List<EF.Data.EF.EvaluarComentario>
@{
    Layout = "_layout";
}

@section CSS{
<link href="~/css/ComentarioStyle.css?val=0" rel="stylesheet" type="text/css" />

}

@section Scripts{
<partial name="_ValidationScriptsPartial"></partial>

@if(Model != null){
<script src="~/js/Modal.js"></script>
}
}



<div class="Contenido">
    <div class="Formulario">
        <h2 class="text-dark font-weight-bold"> Ingrese la critica de su Pelicula</h2>
        <form asp-action="EvaluarComentario" asp-controller="Home" method="post">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label for="comentario" class="control-label"></label>
                <input id="comentario" name="comentario" class="form-control" required autocomplete="off" placeholder="Escriba Aqui" />
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-info">Verificar frase</button>
            </div>
        </form>

    </div>
</div>

<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Analisis de la Critica</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <h5>GANG GANG</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Regresar</button>
      </div>
    </div>
  </div>
</div>

@if(Model != null)
{
    <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
<h5 class="modal-title" id="exampleModalLabel">Ultimos 10 comentarios</h5>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Descripcion</th>
      <th scope="col">Valor</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var local in Model)
        {
            <tr>
                <td>@local.Descripcion</td>
                @if (@local.Valor) { 
                    <td>Positivo</td>
                } 
                else{
                    <td>Negativo</td>
                }
                
            </tr>
        }
  </tbody>
</table>
      </div>
    </div>
  </div>
}


