@{
    Layout = "_layout";
}

@section CSS{
<link type="text/css" rel="stylesheet" href="~/css/HomeStyle.css" />
}



<div class="contenedor">


    <a class="item1" asp-action="Index" asp-controller="EvaluarComentario">
        <div class="caja" style="background-color:#33516D">
            <p> Criticas de Peliculas</p>
        </div>
    </a>

    <a class="item2" asp-action="Index" asp-controller="EvaluarImagen">
        <div class="caja" style="background-color:#1D5A2F">
            <p> Tipos de Comida</p>
        </div>
    </a>


    <a class="item3" asp-action="Index" asp-controller="EvaluarSpam">
        <div class="caja" style="background-color:#662B6E">
            <p>Tercer Ejemplo Proximamente</p>
        </div>
    </a>


</div>



