@{
    Layout = "_layout";
}

@section CSS{
<link type="text/css" rel="stylesheet" href="~/css/HomeStyle.css" />
}



<div class="contenedor">


    <a class="item1" asp-action="EvaluarComentario" asp-controller="Home">
        <div class="caja" style="background-color:#33516D">
            <p> Criticas de Peliculas</p>
        </div>
    </a>

    <a class="item2" asp-action="EvaluarImagen" asp-controller="Home">
        <div class="caja" style="background-color:#1D5A2F">
            <p> Tipos de Comida</p>
        </div>
    </a>


    <a class="item3" asp-action="EvaluarEmail" asp-controller="EvaluarSpam">
        <div class="caja" style="background-color:#662B6E">
            <p>Correo o SMS Spam</p>
        </div>
    </a>


</div>



